<div class="page-header">
	<!-- <h1>Popular Snippets</h1> -->
	<h1>All Snippets</h1>
</div>

<% @snippets.each do |snippet| %>

	<% language = @languages.find(snippet.language_id)  %>
	<% editor = @editors.find(snippet.editor_id)  %>
	<% user = @users.find(snippet.user_id)  %>

	<div class="col-md-4">
		<div class="snippet-card">
		<%= image_tag language.icon, class: "icon" %>
			<div class="body">
				<h4 class="title"><%= link_to snippet.name, snippet_path(snippet) %></h4>
				<span class="description"><%= snippet.description %></span>
				<ul class="tags">
					<li><%= image_tag editor.icon_src %><%= editor.name %></li>
					<li><%= language.name %></li>
				</ul>
			</div>
			<div class="meta">
			<div class="row">
			<div class="col-xs-12">
				<%= link_to '@'+user.username, user_snippets_path(user) %> <span class="badge"> <%= user.snippets.size %></span>
				<% if @current_user && @current_user.id == snippet.user_id %>
			<!-- CREATER CONTROLS -->
				<%= link_to "Edit", edit_snippet_path(snippet.id), class: "btn btn-danger btn-xs pull-right" %>
				<!-- <%= button_to "X", snippet, :remote => true, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs delete btn-xs pull-right" %> -->
			<% else %>
			<!-- FAVOTITE BUTTON -->
				<% favorite = Favorite.exists?(snippet_id: snippet.id, user_id: @current_user) %>
				<% if favorite && @current_user %>
					<%= button_to favorite, :remote => true, method: :delete, class: "btn-warning btn-xs pull-right", id: favorite.id do %>
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
					<% end %>
				<% elsif @current_user %>
					<%= button_to favorite, :remote => true, class: " btn-default unfavorited pull-right" do %>
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					<% end %>
				<% end %>
			<% end %>
			</div>
			</div>
			</div>
		</div>
	</div>
<% end %>
	
	