<% if @current_user && @current_user.id == @user.id %>
	<h1>View My Snippets</h1>
<% else %>
	<h1>View <%= @user.username %>'s Snippets</h1>
<% end %>

<% @snippets.each do |snippet| %>


	<% language = @languages.find(snippet.language_id)  %>
	<% editor = @editors.find(snippet.editor_id)  %>

	<div class="col-md-4" id="<%= snippet.id %>">
		<div class="snippet-card">
		<%= image_tag language.icon, class: "icon" %>
			<div class="body">
				<h4 class="title"><%= link_to snippet.name, snippet_path(snippet) %></h4>
				<span class="description"><%= snippet.description %></span>
				<ul class="tags">
					<li><%= image_tag editor.icon_src %><%= editor.name %></li>
					<li><%= language.name %></li>
				</ul>
			</div>

			<div class="meta"><div class="row"><div class="col-xs-10">@<%= @user.username %></div>
			<% if @current_user && @current_user.id == @user.id %>
				<%= button_to "X", snippet, :remote => true, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs col-xs-1 delete" %>
			<% end %>
			</div>
			</div>
		</div>
	</div>
<% end %>

