<!DOCTYPE html>
<html>
<head>
  <title>SnippetShare.io</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
	<div class="col-md-12">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "SnippetShare.io", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <!-- <li><a href="#">Popular</a></li> -->
      <!-- <li><a href="#">New</a></li> -->
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guides<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Adding snippets to:</li>
            <li><%= link_to "Atom", "https://atom.io/docs/latest/using-atom-snippets", target: "_blank" %></li>
            <li><%= link_to "Brackets", "https://dennisaa.wordpress.com/2015/01/17/brackets-snippets-editor/", target: "_blank" %></li>
            <li><%= link_to "Sublime Text", "http://sublimetext.info/docs/en/extensibility/snippets.html", target: "_blank" %></li>
            <li><%= link_to "Microsoft Command Line", "https://msdn.microsoft.com/en-us/library/ff926100.aspx", target: "_blank" %></li>
            <li><%= link_to "Mac Terminal", "http://www.techradar.com/us/how-to/computing/apple/terminal-101-creating-aliases-for-commands-1305638", target: "_blank" %></li>
          </ul>
        </li>

      </ul>
      <!-- <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search snippets..">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->

      <ul class="nav navbar-nav navbar-right">
				<% if current_user %>
					<li class="navbar-text"><%= image_tag("#{current_user.photo}", class: "img-rounded avatar") %></li>
					<li  class="navbar-text" style="color: #999">Logged in as <%= current_user.username %></li>
					<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Add New Snippet", new_user_snippet_path(current_user) %></li>
            <li><%= link_to "View My Snippets", user_snippets_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "View My Account", user_path(current_user)%></li>
          </ul>
        </li>
					<li><%= link_to "Logout", logout_path, method: :delete%></li>
				<% elsif current_page?(controller: 'sessions', action: 'login') %>
          <li><%= link_to "Go Back", :back %></li>
        <% else %>
					<li><%= link_to "Login", login_path %></li>
				<% end %>
      </ul>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
	<div class="col-md-12">
		<% flash.each do |key, value| %>
		  <% if key == "notice" %>
		    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
		  <% elsif key == "alert" %>
		    <%= content_tag :div, value, class: "text-center alert alert-danger" %>
		  <% else %>
		    <%= content_tag :div, value, class: "text-center alert alert-success" %>
		  <% end %>
		<% end %>
		<%= yield %>
	</div>
</div>

</body>
</html>
